extends templates/layout
block vars
  - var bodyClass = 'search-hits'
block content
  include partials/_navigation
  include partials/_sub-navigation
  .container
    .company-information
      .row
        .company-name
          h2 Spotify AB
          | Org. nr: 556703-7485
      .row
        .company-location
          img.location-icon(src="/public/icons/location.svg")
          ul
            li Humlegårdsgatan 32
            li 123 45 Stockholm
            li Stockholms Län
        .company-map
          img.location-map(src="public/images/map.png")

      .row.information-row
        a.js-accordion-trigger(href="javascript:void(0)")
          h6
            img.icon(src="/public/icons/executives.svg")
            | Beslutsfattare
          img.arrow(src="/public/icons/arrow.svg")
        .accordion-content
          table
            tr
              th Titel
              th Namn
              th E-post
              th Direkttelefonnummer
            tr
              td VD
              td Daniel Georg Ek
              td Finns
              td Finns
            tr
              td Styrelseordförande
              td Sven Hans Martin Lorentzon
              td Finns
              td Finns
            tr
              td Suppleant
              td Carl Magnus Peter Sterky
              td Finns
              td Finns
      .row.information-row.is-expanded
        a.js-accordion-trigger.content-is-expanded(href="javascript:void(0)")
          h6
            img.icon(src="/public/icons/moreinfo-white.svg")
            | Mer information
          img.arrow(src="/public/icons/arrow.svg")
        .accordion-content.show-accordion
          .row
            .company-information-list
              ul.list
                li Verksamhet: Webbportal
                li Org. nr: 556703-7485
                li Antal anställda: 317
                li Omsättning:  2 995 697 t.kr.
              ul.list
                li Ägarförhållande: Privat, ej börsnoterat
              ul.list
                li Resultat efter finansnetto: -462 595 t.kr.
                li Årets resultat: -444 822 t.kr.
                li Summa tillgångar: 2 420 618 t.kr.
            .company-information-list
              ul.list
                li Status: Bolaget är aktivt
                li Registreringsdatum: 2006-05-10
              ul.list
                li F-skatt status: Registrerad för F-skatt
                li Startdatum för F-skatt: 2006-06-19
              ul.list
                li Momsstatus: Registrerad i momsregistret
                li Startdatum för moms: 2006-05-14
              ul.list
                li Länssäte: Stockholms Län
                li Kommunsäte: Stockholm
          .row
            h6 Ekonomisk data över 5 år
            | Värden visas i procent.
            .canvas-container
              canvas#economicHistory

      .row.information-row
        a.js-accordion-trigger(href="javascript:void(0)")
          h6
            img.icon(src="/public/icons/order.svg")
            | Beställ kreditupplysning och årsredovisning
          img.arrow(src="/public/icons/arrow.svg")
        .accordion-content
          .row
            label
              input(type="checkbox" class="checkbox" name="checkboxes" value="check_1")
              | Kreditupplysning, ev anmärkningar och kreditgräns (29kr)
            label
              input(type="checkbox" class="checkbox" name="checkboxes" value="check_2")
              | Årsbokslut (49kr)
            .modal
              label(for='modal-1')
                .button.js-btn.right Beställ
              input#modal-1.modal-state(type='checkbox')
              .modal-window
                .modal-inner
                  label.modal-close(for='modal-1')
                  h2 Beställ kreditupplysning och årsredovisning
                  .modal-content
                    .modal-row
                      table
                        tr
                          th Valda objekt
                          th Pris
                        tr
                          td Kreditupplysning
                          td 29kr
                        tr
                          td Årsbokslut
                          td 49kr
                    .modal-row
                      .modal-dropdown
                        label(for='select_element1') Vilket år vill du ha årsbokslut för?
                          select.right(name='select_element1')
                            option(value="1") Alternativ 1
                            option(value="2") Alternativ 2
                            option(value="3") Alternativ 3
                    .modal-row
                      h6.header
                      .row
                        .modal-form
                          label(for="text-field1") Namn
                          input(type="text" id="text_field1")
                        .modal-form
                          label(for="text-field1") E-post
                          input(type="text" id="text_field1")
                      .row
                        .modal-form
                          label(for="text-field1") Företag
                          input(type="text" id="text_field1")
                        .modal-form
                          label(for="text-field1") Org. nr.
                          input(type="text" id="text_field1")
                    .modal-row
                      label(for='modal-1')
                        .button.right(for='modal-1') Beställ