extends templates/layout
block vars
  - var bodyClass = 'search-hits'
block content
  include partials/_navigation
  include partials/_sub-navigation
  .container
    .company-related-container
      a.js-accordion-trigger.hide-for-large-up(href="javascript:void(0)")
        h6 J63120 Webbportaler (708)
        img.arrow(src="/public/icons/arrow.svg")
      h4.company-related-header.show-for-large-up J63120 Webbportaler (708)
      .company-related-content.accordion-content.show-for-large-up
        section.company-related
          a.show-all(href="#") Visa Alla
        section.company-related
          ul
            h6 Region
            li
              a(href="#") Stockholm (14)
            li
              a(href="#") Östergötland (12)
            li
              a(href="#") Norrland (2)
            li
              a(href="#") Skåne (2)
            li
              a(href="#") Västergötland (1)
        section.company-related
          ul
            h6 Antal anställda
            li
              a(href="#") 0-9 Anställda (43)
            li
              a(href="#") 1-4 Anställda (163)
            li
              a(href="#") 20-49 Anställda (215)
        section.company-related
          ul
            h6 Omsättning
            li
              a(href="#") 0 - 99 t.kr. (23)
            li
              a(href="#") 100 - 199 t.kr. (87)
            li
              a(href="#") 200 - 499 t.kr. (12)
            li
              a(href="#") 500 - 999 t.kr. (19)
        section.company-related
          ul
            h6 Juridisk form
            li
              a(href="#") Aktiebolag (122)
            li
              a(href="#") Handelsbolag (53)
    .company-information
      .row
        .company-name
          h2 Spotify AB
          | Org. nr: 556703-7485
      .row
        .company-location
          img.location-icon(src="/public/icons/location.svg")
          ul.list
            li VD: Daniel Georg Ek Lorentzon
          ul.list
            li Humlegårdsgatan 32
            li 123 45 Stockholm
            li 08-32 46 76
        .company-map
          img.location-map(src="public/images/map.png")

      .row.information-row.is-expanded
        a.js-accordion-trigger.content-is-expanded(href="javascript:void(0)")
          h6
            img.icon(src="/public/icons/executives.svg")
            | Beslutsfattare
          img.arrow(src="/public/icons/arrow.svg")
        .accordion-content.show-accordion
          table
            tr
              th Titel
              th Namn
              th E-post
              th Direkttelefonnummer
            tr
              td VD
              td Daniel Georg Ek
              td Finns
              td Finns
            tr
              td Styrelseordförande
              td Sven Hans Martin Lorentzon
              td Finns
              td Finns
            tr
              td Suppleant
              td Carl Magnus Peter Sterky
              td Finns
              td Finns
      .row.information-row.is-expanded
        a.js-accordion-trigger.content-is-expanded(href="javascript:void(0)")
          h6
            img.icon(src="/public/icons/moreinfo-white.svg")
            | Mer information
          img.arrow(src="/public/icons/arrow.svg")
        .accordion-content.show-accordion
          .row
            .company-information-list
              ul.list
                li 
                  span.header Verksamhet: 
                  | Webbportal
                li
                  span.header Org. nr: 
                  | 556703-7485
                li
                  span.header Antal anställda: 
                  | 317
                li 
                  span.header Omsättning: 
                  | 2 995 697 t.kr.
                li
                  span.header Resultat: 
                  | -444 822 t.kr.
              ul.list
                li 
                  span.header Ägarförhållande: 
                  | Privat, ej börsnoterat
            .company-information-list
              ul.list
                li
                  span.header Status: 
                  | Bolaget är aktivt
                li
                  span.header Registreringsdatum: 
                  | 2006-05-10
              ul.list
                li 
                  span.header F-skatt status: 
                  | Registrerad för F-skatt
                li
                  span.header Startdatum för F-skatt: 
                  | 2006-06-19
              ul.list
                li
                  span.header Länssäte: 
                  | Stockholms Län
                li
                  span.header Kommunsäte: 
                  | Stockholm
          .row
            h6 Ekonomisk data, procentuell förändring över 3 år
            | Värden visas i procent.
          .row
            .canvas-container
              canvas#economicHistory
            .legend-container
              ul
                li 
                  .revenue-icon
                  | Omsättning
                li 
                  .profit-icon
                  | Resultat
                li 
                  .employees-icon
                  | Antal anställda
                li 
                  .average-result-icon
                  | Snittresultat för hela branschen

      .row.information-row
        a.js-accordion-trigger(href="javascript:void(0)")
          h6
            img.icon(src="/public/icons/order.svg")
            | Beställ kreditupplysning och årsredovisning
          img.arrow(src="/public/icons/arrow.svg")
        .accordion-content
          .row
            label
              input(type="checkbox" class="checkbox" name="checkboxes" value="check_1")
              | Kreditupplysning, ev anmärkningar och kreditgräns (75kr)
            label
              input(type="checkbox" class="checkbox" name="checkboxes" value="check_2")
              | Årsbokslut (45kr)
            .modal
              label(for='modal-1')
                .button.js-btn.right Beställ
              input#modal-1.modal-state(type='checkbox')
              .modal-window
                .modal-inner
                  label.modal-close(for='modal-1')
                  h3 Beställ kreditupplysning och årsredovisning
                  .modal-content
                    .modal-row
                      table
                        tr
                          th Valda objekt
                          th Pris
                        tr
                          td Kreditupplysning
                          td 75kr
                        tr
                          td Årsbokslut
                          td 45kr
                    .modal-row
                      p
                        | Kreditupplysningen är en fullständig upplysning med all information om Spotify AB (556703-7485) och med en kreditbedömning. Leverans sker inom kort.
                    .modal-row
                      h6.header
                      .row
                        .modal-form
                          label(for="text-field1") Namn
                          input(type="text" id="text_field1")
                        .modal-form
                          label(for="text-field1") E-post
                          input(type="text" id="text_field1")
                      .row
                        .modal-form
                          label(for="text-field1") Företag
                          input(type="text" id="text_field1")
                        .modal-form
                          label(for="text-field1") Org. nr.
                          input(type="text" id="text_field1")
                    .modal-row
                      label(for='modal-1')
                        .button.right(for='modal-1') Beställ
                    .modal-row
                      p 
                        | Vill ni ha obegränsat antal kreditupplysningar och årsredovisningar? Kontakta oss för fastpris.