extends templates/layout
block vars
  - var bodyClass = 'index'
block content
  .overlay
  include partials/_navigation
  .container
    .search-container
      h1.branding sökaföretag.se
      .search
        .search-bar
          .search-and-submit
            input(type="search" placeholder="Sök bland Sveriges företag")
            button(type="submit")
              img(src="/public/icons/search.svg")
        .search-results
          ul.category
            li Beslutsfattare
              ul.category-result
                li 
                  a(href="/search-hits.html") Ragnar Spoti Joelsson
            li Företag
              ul.category-result
                li
                  a(href="#") Spot i Malmö AB
                li
                  a(href="#") Spotify AB